<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.sun.com/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="4.0">
  <display-name>formsb</display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>br.com.sb.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/fazerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cadastrar</servlet-name>
    <servlet-class>br.com.sb.controller.CadastrarUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrar</servlet-name>
    <url-pattern>/cadastrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>formEnviado</servlet-name>
    <servlet-class>br.com.sb.controller.FormEnviadoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formEnviado</servlet-name>
    <url-pattern>/formEnviado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>consultar</servlet-name>
    <servlet-class>br.com.sb.controller.ConsultaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>consultar</servlet-name>
    <url-pattern>/consultarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alterar</servlet-name>
    <servlet-class>br.com.sb.controller.AlteraController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alterar</servlet-name>
    <url-pattern>/alterarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modificar</servlet-name>
    <servlet-class>br.com.sb.controller.ModificaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificar</servlet-name>
    <url-pattern>/modificarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>formulario</servlet-name>
    <servlet-class>br.com.sb.controller.FormularioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formulario</servlet-name>
    <url-pattern>/Formulario</url-pattern>
  </servlet-mapping>
</web-app>